*{
  margin: 0;
  padding: 0;
}


/* canvas {
  position: fixed;
  top: 0;
  left: 0;
} */

:root {
  /* --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px; */

  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* h1, h2, h3, blockquote {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
} */

.footer {
  background: rgba(9, 20, 25, 0.8);
  color: white;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

.card-basic {
  margin: 1.5rem;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow:  12px 12px 15px #d9d9d9,
              -12px -12px 15px #ffffff;
  color: black;
}

.card-blue {
  margin: 1.5rem;
  border-radius: 30px;
  background: rgba(54, 147, 198, 0.5);
  box-shadow:  12px 12px 30px #d9d9d9,
              -12px -12px 30px #ffffff;
  color: black;
}

.card-darkGrey {
  display: grid;
  margin-top: 1.5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  border-radius: 30px;
  background: rgba(9, 20, 25, 0.8);
  box-shadow:  12px 12px 30px #d9d9d9,
              -12px -12px 30px #ffffff;
  color: white;
  align-items: center;
  justify-items: center;
}

.text-bg {
  z-index: 10;
  background: rgba(9, 20, 25, 0.8);
}

.image {
  display: flex;
  background-image: url('/assets/images/office.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  height: 25rem;
  font-size: 2.5rem;
  text-alin: center;
}

/* Mobile window */
@media only screen and (min-width: 300px){
  main {
    color: black; /* text */
    /* z-index: 99;  */
    /* position: absolute; */
    /* margin: 0px auto; */
    /* padding: 120px 0px; */
    
    /* display: grid; 
    grid-template-row: repeat(12, 1fr); */
  }

  header {
    /* z-index: 99;  */
    position: sticky;
    top: 0;
    text-align: center;
    color: black;
    width: 100vw;
    background: rgba(39, 104, 179, 1);
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 104, 179, 1)), to(rgba(255, 255, 255, 1))); */
    font-size: 1.5rem;
    
  }

  section {
    padding: 1rem;
    font-size: 1.25rem;
  }

  h1 {
    animation: headerText 2s ease 0s 1 normal forwards;
  }

  @keyframes headerText {
    0% {
      opacity: 0;
      transform: translateY(-250px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Tablet */
@media only screen and (min-width: 700px) and (max-width: 900px){
  header {
    z-index: 99; 
    position: sticky;
    top: 0;
    text-align: center;
    color: black;
    width: 100vw;
    background: rgba(39, 104, 179, 1);
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 104, 179, 1)), to(rgba(255, 255, 255, 1))); */
    font-size: 1.5rem;
  }
}

/* Computer */
@media only screen and (min-width: 1000px){
  header {
    z-index: 99; 
    position: sticky;
    top: 0;
    text-align: center;
    color: black;
    width: 100vw;
    background: rgba(255, 255, 255, 1);
    /* background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(39, 104, 179, 1)), to(rgba(255, 255, 255, 1))); */
    font-size: 1.5rem;
  }
}